@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  /* 62.5% * 16px = 10px */
}

body{
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter",sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

.main-container{
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-container{
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 340px;
  padding: 3.5rem 4rem 2rem;
  border-radius: 10px;
}

.profile-picture{
  width: 7.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.person-name{
  font-weight: 600;
  font-size: 2rem;
  color: hsla(0, 0%, 100%, 0.932);
  margin-bottom: 0.7rem;
  letter-spacing: 0.4px;
}

.person-location{
  font-size: 1.18rem;
  font-weight: 600;
  color: hsla(75, 94%, 57%, 0.87);
}

.work-description{
  font-size: 1.2rem;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.76);
  margin: 2.2rem 0rem;
}

.profile-container ul{
  list-style: none;
  width: 100%;
}

.btn:link, .btn:visited{
  font-size: 1.25rem;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.932);
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  padding: 1.25rem 0rem;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 1.5rem;
  transition: 0.2s;
}

.btn:hover, .btn:focus{
  background-color: hsl(75, 94%, 57%);
}

.attribution {
  color: hsla(0, 0%, 100%, 0.932);
  font-size: 1.1rem; 
  text-align: center; 
}

.attribution a:link, .attribution a:visited { 
  color: hsl(228, 45%, 44%); 
  transition: 0.2s;
}

.attribution a:hover, .attribution a:focus{
  color: hsl(75, 94%, 57%);
}

@media (max-width:375px) {
  html{
    font-size: 62.5%;
  }

  .profile-container{
    min-width: 280px;
    padding: 2.5rem 2rem 1rem;
  }
}